@font-face {
	font-family: Abril Fatface;
	src: url('Fonts/abrilfatface.ttf');
}

@font-face {
	font-family: Aclonica;
	src: url('Fonts/aclonica.ttf');
}

@font-face {
	font-family: Aguafina Script;
	src: url('Fonts/aguafinascript.ttf');
}

@font-face {
	font-family: Akronim;
	src: url('Fonts/akronim.ttf');
}

@font-face {
	font-family: Aladin;
	src: url('Fonts/aladin.ttf');
}

@font-face {
	font-family: Allura;
	src: url('Fonts/allura.ttf');
}

@font-face {
	font-family: Bilbo;
	src: url('Fonts/bilbo.ttf');
}

@font-face {
	font-family: Codystar;
	src: url('Fonts/codystar.ttf');
}

@font-face {
	font-family: Fredericka the great;
	src: url('Fonts/fredericka.ttf');
}

@font-face {
	font-family: Georgia;
	src: url('Fonts/georgia.ttf');
}

@font-face {
	font-family: GeorgiaB;
	src: url('Fonts/georgia_b.ttf');
}

@font-face {
	font-family: GeorgiaI;
	src: url('Fonts/georgia_i.ttf');
}

@font-face {
	font-family: GeorgiaBI;
	src: url('Fonts/georgia_b_i.ttf');
}

@font-face {
	font-family: Good Night;
	src: url('Fonts/goodNight.ttf');
}

@font-face {
	font-family: Indie Flower;
	src: url('Fonts/indieFlower.ttf');
}

@font-face {
	font-family: Lucida Sans;
	src: url('Fonts/LSANS.ttf');
}

@font-face {
	font-family: Lucida SansB;
	src: url('Fonts/LSANS_b.ttf');
}

@font-face {
	font-family: Lucida SansI;
	src: url('Fonts/LSANS_i.ttf');
}

@font-face {
	font-family: Lucida SansBI;
	src: url('Fonts/LSANS_b_i.ttf');
}

@font-face {
	font-family: Miltonian;
	src: url('Fonts/miltonian.ttf');
}

@font-face {
	font-family: Palatino Linotype;
	src: url('Fonts/pala.ttf');
}

@font-face {
	font-family: Palatino LinotypeB;
	src: url('Fonts/pala_b.ttf');
}

@font-face {
	font-family: Palatino LinotypeI;
	src: url('Fonts/pala_i.ttf');
}

@font-face {
	font-family: Palatino LinotypeBI;
	src: url('Fonts/pala_b_i.ttf');
}

@font-face {
	font-family: Parisienne;
	src: url('Fonts/parisienne.ttf');
}

@font-face {
	font-family: Ruge Boogie;
	src: url('Fonts/rugeBoogie.ttf');
}

@font-face {
	font-family: Tahoma;
	src: url('Fonts/tahoma.ttf');
}

@font-face {
	font-family: TahomaB;
	src: url('Fonts/tahoma_b.ttf');
}

@font-face {
	font-family: TahomaI;
	src: url('Fonts/tahoma_i.ttf');
}

@font-face {
	font-family: TahomaBI;
	src: url('Fonts/tahoma_b_i.ttf');
}

@font-face {
	font-family: Tangerine;
	src: url('Fonts/tangerine.ttf');
}

@font-face {
	font-family: TangerineB;
	src: url('Fonts/tangerine_b.ttf');
}

@font-face {
	font-family: Trebuchet MS;
	src: url('Fonts/trebuc.ttf');
}

@font-face {
	font-family: Trebuchet MSB;
	src: url('Fonts/trebuc_b.ttf');
}

@font-face {
	font-family: Trebuchet MSI;
	src: url('Fonts/trebuc_i.ttf');
}

@font-face {
	font-family: Trebuchet MSBI;
	src: url('Fonts/trebuc_b_i.ttf');
}

@font-face {
	font-family: Verdana;
	src: url('Fonts/verdana.ttf');
}

@font-face {
	font-family: VerdanaB;
	src: url('Fonts/verdana_b.ttf');
}

@font-face {
	font-family: VerdanaI;
	src: url('Fonts/verdana_i.ttf');
}

@font-face {
	font-family: VerdanaBI;
	src: url('Fonts/verdana_b_i.ttf');
}

@font-face {
	font-family: Vinograd;
	src: url('Fonts/vinograd.ttf');
}

@font-face {
	font-family: VinogradB;
	src: url('Fonts/vinograd_b.ttf');
}

@font-face {
	font-family: VinogradI;
	src: url('Fonts/vinograd_i.ttf');
}

@font-face {
	font-family: VinogradBI;
	src: url('Fonts/vinograd_b_i.ttf');
}

